<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="TestNg Cucumber Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">

    <test name="Recipes cucumber tests">
        <!--ensure your local simulator is specified in the appium_capabilities.json file -->
        <parameter name="device" value="${device}"/>
        <!--ensure platform is in lowercase ios android-->
        <parameter name="platform" value="android"/>
        <classes>
            <!--to run cucumber test as a suite just add the runner class below with correct @tag in runner-->
            <class name="cucumber.runners.RunCucumberTest"/>
        </classes>
    </test>

</suite>
